@page
@model My_Portfolio.Pages.Shared.AboutModel
@{
    ViewData["Title"] = "About";

}
<link rel="stylesheet" href="~/css/About.css" />
<div>
    <div class="card">
        <img class="profile" src="~/img/My3.jpg" />
        <p class="card-title">Muhammad Khuzaima</p>
        <p class="card-body">A dedicated Full-Stack Developer with pretty good experience. I've a very strong background in both Web and Mobile Apps development. I'm experienced in Html, CSS, SCSS, JavaScript, XAMAL, C# & .NET. Easy communication, fast response and always to quality work. Have any Question? Contact me now!</p>
        <a class="btn-resume" href="https://drive.google.com/file/d/1ijy6LJ-uXn0FX1BnAeJxtmPjbNFJGybJ/view?usp=sharing" target="_blank">View Resume</a>
    </div>
</div>

