@page
@model My_Portfolio.Pages.exModel
@{
    ViewData["Title"] = "Contact";

}
<link rel="stylesheet" href="~/css/Contact.css" />
<div class="card">
    <h1 class="card-title">Contact Me</h1>
    <input placeholder="Subject" type="text" class="input-subject" />
    <textarea rows="6" cols="20" placeholder="Description" class="txt-description"></textarea>
    <button type="submit" class="btn-submit">Submit</button>
</div>

