@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}


<link rel="stylesheet" href="~/css/Index.css" />

<div class="text-center">
    <video class="background" autoplay muted loop>
        <source src="~/img/back-video.mp4" type="video/mp4" />
    </video>
    <div class="video-overlay"></div>
    <h1>Muhammad Khuzaima</h1>
    <div class="social">
        <a href="https://www.facebook.com/khuzaima.music/" target="_blank"> <img src="~/img/facebook.png" /></a>
        <a href="https://www.instagram.com/khuzaima_shakeel" target="_blank"><img src="~/img/instagram.png" /></a>
        <a href="https://www.linkedin.com/in/khuzaima-shakeel/" target="_blank"><img src="~/img/linkedin.png" /></a>
        <a href="https://github.com/KhuzaimaShakeel" target="_blank"><img src="~/img/github.png" /></a>
    </div>
</div>
