@page
@model My_Portfolio.Pages.ProjectsModel
@{
    ViewData["Title"] = "Projects";

}

<link href="~/css/Projects.css" rel="stylesheet" />
<div class="card">
    <h1 class="card-title">Previous Projects</h1>
    <div class="projects">
        <img class="first" src="~/img/P1.png" />
        <a href="https://github.com/KhuzaimaShakeel/Optica-Vision-Plus" target="_blank" style="text-decoration: none; color: palegoldenrod; padding:1%;">Git Repository</a>
        <img class="second" src="~/img/P2.png" />
        <a href="https://github.com/KhuzaimaShakeel/GMart" target="_blank" style="text-decoration: none; color: palegoldenrod; padding: 1%; ">Git Repository</a>
        <img class="third" src="~/img/P3.png" />
        <a href="https://github.com/KhuzaimaShakeel/CellNXT" target="_blank" style="text-decoration: none; color: palegoldenrod; padding: 1%; ">Git Repository</a>
        <img class="forth" src="~/img/P4.png" />
        <a href="https://github.com/KhuzaimaShakeel/Rim-Top-Smoke-House" target="_blank" style="text-decoration: none; color: palegoldenrod; padding: 1%; ">Git Repository</a>
    </div>
</div>
